*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    background-color: grey;
    flex-wrap: wrap;
}

#filter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(81, 179, 218);
    text-align: center;
}

#title h1{
    color: rgb(81, 179, 218);
    font-size: 70px;
}


.box{
    text-align: center;
    height: 200px;
    width: calc(90% / 5);
    border: black solid 1px;
    background-color: whitesmoke;
    margin: 20px 10px;
    
}

.box i{
    margin-top: 70px;
    font-size: 50px;
}

.orange{
    color: orange;
}

.green{
    color: green;
}

.blue{
    color: blue;
}

#iconselect{
    height: 30px;
}

.off{
    display: none;
}